h1 {
  width: auto;
  color: #16697a;
  font: normal normal bold 1.8em Bookman Old Style;
  margin-top: 0;
}

form.login {
  background: #d8eaeee0 0% 0% no-repeat padding-box;
  border-radius: 49px;
  box-shadow: 6px 6px 6px #00000029;
  padding: 4em 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form.login input {
  background: var(--unnamed-color-d5e7ec) 0% 0% no-repeat padding-box;
  border: 2px solid var(--unnamed-color-16697a);
  background: #d5e7ec 0% 0% no-repeat padding-box;
  border: 2px solid #16697a;
  border-radius: 10px;
  color: #16697a;
  padding: 1em;
  margin: 1em;
  width: 50%;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../res/background_waterfall.jpg");
  background-position: center;
  background-size: cover;
}

a.hyperlink {
  color: #16697a;
  width: auto;
  margin: 0;
  font: normal normal bold 0.8em Arial;
  /*font-family: Arial, Helvetica, sans-serif;
      font-weight: 520;*/
}
