body {
  margin: 0;
}

button {
  background: #16697a 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: none;
  border-radius: 10px;
  text-align: center;
  font: normal normal bold 1.3em Bookman Old Style;
  letter-spacing: 0px;
  color: #ffa62b;
  width: auto;
  padding: 0.7em 2em;
  margin: 0.5em;
  cursor: pointer;
}

h2 {
  width: auto;
  color: #ffa62b;
  font: normal normal bold 1.8em Bookman Old Style;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
}

i {
  font-size: 1.5em;
  vertical-align: middle;
}

nav {
  /*position: fixed;
  left: 0;
  right: 0;
  top: 0;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #16697a 0% 0% no-repeat padding-box;
  /*text-align: left;*/
  font: normal normal bold 1em Bookman Old Style;
  letter-spacing: 0px;
  color: #ffa62b;
  text-shadow: 3px 3px 6px #00000029;
  height: 8%;
}

ul.nav-list {
  list-style-type: none;
  padding: 0;
}

ul.nav-list > li {
  display: inline-block;
  padding: 0 1em;
}

li > i.small-icon {
  font-size: 1em;
  vertical-align: middle;
}

h2 > i.small-icon {
  font-size: 0.9em;
  vertical-align: baseline;
}

div.container {
  width: 100vw;
  height: 100vh;

  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url("../res/background_waterfall.jpg");
  background-position: center;
  background-size: cover;
}

div.view-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 92%;
  justify-content: space-around;
  align-items: center;
}

section {
  width: 45%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column-reverse;
}

section > div.title {
  background: #16697a 0% 0% no-repeat padding-box;
  width: 100%;
  height: 4.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 49px 49px 0px 0px;
}

section > div.content {
  background: #d8eaeee0 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 49px 49px;
  box-shadow: 6px 6px 6px #00000029;
  width: 100%;
  min-height: fit-content;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-device-width: 420px) {
  * {
    font-size: 16px;
  }
}
