body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: url("background_waterfall.jpg");
  background-position: center;
  background-size: cover;
}

body > div {
  grid-row-start: 0 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /*padding-bottom: 5vh;*/
}

body:nth-child(1) {
  grid-column-start: 0 1;
}

body:nth-child(2) {
  grid-column-start: 1 1;
}

body:nth-child(3) {
  grid-column-start: 2 1;
  justify-content: space-around;
}

h1 {
  font-size: 2.5em !important;
}

input {
  background: var(--unnamed-color-d5e7ec) 0% 0% no-repeat padding-box;
  border: 2px solid var(--unnamed-color-16697a);
  background: #d5e7ec 0% 0% no-repeat padding-box;
  border: 2px solid #16697a;
  border-radius: 10px;
  color: #16697a;
  padding: 0.5em;
  margin: 1em;
  width: 50%;
  text-align: center;
  font-size: 1.5em;
}

div.scheme {
  display: grid;
  grid-row: repeat(15, 1fr);
  justify-items: center;
  align-content: center;
  padding-right: 5em;
  /*justify-content: center;
  align-items: center;
  padding-top: 30vh;*/
}

div.scheme > div {
  display: flex;
  flex-direction: row;
  grid-column: 2 / span 1;
  /* margin: 30px 0;*/
}

div.scheme > div > button {
  max-width: 8em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin: 0 0.5em;
}

div.scheme button {
  z-index: 1;
  grid-column: 2 / span 1;
  font-size: 1em;
  max-width: 11em;
  background-color: rgb(255, 255, 255);
  border: solid rgb(131, 131, 131) 5px;
  color: rgb(161, 161, 161);
  margin: 0;
  transition: all 1s ease;
}

div.stats {
  justify-content: flex-start;
}

div.stats > div {
  margin-top: 5vh;
  margin-bottom: 2vh;
}

div.sort {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.central {
  padding-bottom: 7vh;
  background-color: rgba(0, 0, 0, 0.199);
}

.lines {
  height: 50px;
  width: 6em;
  border-left: solid #797979 4px;
  border-right: solid #797979 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: normal normal bold 0.8em Bookman Old Style;
  color: #797979;
}

.line {
  height: 50px;
  width: 0em;
  border-left: solid #797979 2px;
  border-right: solid #797979 2px;
  overflow: show;
  font: normal normal bold 0.8em Bookman Old Style;
  color: #797979;
  display: flex;
  align-items: center;
  text-align: right;
}

button.active {
  border: solid #16697a 5px !important;
  background-color: #a5c0c5 !important;
  color: #16697a !important;
  transition: all 1s ease;
}

#tape {
  width: 31vw;
  height: 11vh;
  /*background-color: white;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-top: solid rgb(131, 131, 131) 5px;
  border-bottom: solid rgb(131, 131, 131) 5px;
  color: rgb(161, 161, 161);
  margin: 0;
}

#tape > div {
  width: 25%;
  height: 100%;
  background-color: rgb(223, 223, 223);
  /*border: solid rgb(145, 145, 145) 4px;*/
  color: rgb(110, 110, 110);
  border-radius: 10px;
  margin: 0 1.2em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font: normal normal bold 1em Bookman Old Style;
}

#stack {
  width: 100%;
  height: 70%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

#stack > div {
  width: 70%;
  height: 15%;

  background-color: rgb(223, 223, 223);
  border: solid rgb(145, 145, 145) 4px;
  color: rgb(110, 110, 110);
  border-radius: 10px;
  margin: 0 1.2em;
  margin-bottom: 4px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font: normal normal bold 1em Bookman Old Style;
}

.line-long {
  grid-row: 4 / span 5;
  width: 7em;
  height: 80%;
  /*border-left: solid #797979 2px;*/
  border-left: solid #797979 4px;
  border-top: solid #797979 4px;
  border-bottom: solid #797979 4px;
  position: relative;
  left: 5em;
  border-radius: 6px;
}

.load-input {
  position: relative;
  padding: 0.3em;
  left: 3em;
  line-height: 1em;
  background-color: #79797900 !important;
  color: #797979 !important;
  border-width: 4px !important;
  border-radius: 2px;
  /*border-top: none !important;
  border-bottom: none !important;*/
}
